h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-family: proxima-nova, arial, sans-serif;
  color: #333;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 1.2em;
}
h1 {
  margin: 0 0 25px 0;
}
.navbar {
  background-color: #302F2F;
}
.container-hackathon {
  margin-top: 50px;
}
.has-bc {
  margin-top: 0;
}
.bc {
  margin-bottom: 0;
}
.navbar-nav li a {
  color: #C4C2C3;
}
.navbar-brand {
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #00A876;
  font-size: 24px;
}
.navbar-brand .threed {
  font-weight: 100;
}
.navbar-brand:hover {
  color: #ff5900;
}
.navbar-brand:hover .threed {
  color: #12a3ec;
}
.sidebar .nav-list li a {
  background: #f2f2f2;
  color: #333;
}
.sidebar .nav-list li:hover a,
.sidebar .nav-list li.active a {
  background-color: #ff5900;
  color: #fff;
}

.query-select {
  
}

.query-input {
  
}